.app-title{
    font-size: 4.5em;
    position: absolute;
    top :12%;
    text-align: center;
    width: 90%;
    color: blueviolet
}

.logo{
    font-size: 10em;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 40%;
    color:tomato;
}